@font-face {
    font-family: 'Timeless';
    src: url('../fonts/Timeless-Bold.woff2') format('woff2'),
        url('../fonts/Timeless-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Timeless';
    src: url('../fonts/Timeless-Normal.woff2') format('woff2'),
        url('../fonts/Timeless-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

